alembic==0.8.4
bottle==0.12.9
bottle-sqlalchemy==0.4.3
click==6.2
docopt==0.6.2
futures==3.0.3
gevent==1.0.2
gevent-websocket==0.9.5
greenlet==0.4.9
Mako==1.0.3
MarkupSafe==0.23
psycopg2==2.6.1
python-chess==0.13.1
python-editor==0.5
redis==2.10.5
rq==0.5.6
six==1.10.0
SQLAlchemy==1.0.11
virtualenv==13.1.2
wheel==0.24.0
