<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="/static/css/chessboard-0.3.0.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    </head>
    <body>
    <div class="container" style="max-width: 500px">
    <h1 style="text-align: center">move number {{move_count}}</h1>
    <div id="board" style="width: 100%; margin-bottom: 5px;"></div>
    <button class="btn btn-primary btn-block" style="margin-bottom: 5px" data-clipboard-text="{{current_url}}">
    Copy url to clipboard
    </button>
    <div class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Token</label>
            <div class="col-sm-10">
                <input class="form-control" name="token" id="token-input" value="">
            </div>
        </div>
    </div>
    % if board.is_game_over():
    <p> Game over! Result: {{board.result()}} </p>
    % else:
        <p>
        % if board.turn:
        White ({{white}})
        % else:
        Black ({{black}})
        % end
        to move. Here are all legal moves. Click one, or drag pieces on the board.
        </p>
        <div class="list-group" style="text-align: center">
            % for (move, link) in moves:
            <a href="{{link}}" class="list-group-item">{{move}}</a>
            % end
        </div>
    % end
    </div>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.min.js"></script>
<script type="text/javascript" src="/static/js/chessboard-0.3.0.min.js"></script>
<script>
var removeGreySquares = function() {
  $('#board .square-55d63').css('background', '');
};

var greySquare = function(square) {
  var squareEl = $('#board .square-' + square);

  var background = '#a9a9a9';
  if (squareEl.hasClass('black-3c85d') === true) {
    background = '#696969';
  }

  squareEl.css('background', background);
};

new Clipboard('.btn');
var cfg = {
    pieceTheme: '/static/img/chesspieces/wikipedia/{piece}.png',
    position: '{{board.fen()}}',
    draggable: true,
    onDrop: function(start, end) {
        removeGreySquares();
        var attempt = start + end;
        % for (move, link) in moves:
        % if move[-1] in map(str, xrange(1,9)):
        if (attempt === '{{move}}') {
            window.location.href = '{{link}}';
            return '';
        }
        % else:
        if (new RegExp('^' + attempt).test('{{move}}')) {
            alert('For pawn promotions, please use buttons');
            return 'snapback';
        }
        % end
        % end
        return 'snapback';
    },
    onMouseoutSquare: function(square, piece) {
        removeGreySquares();
    },
    onMouseoverSquare: function(square, piece) {
        % for (move, _) in moves:
        % source = move[:2]
        % target = move[2:4]
        if (square === '{{source}}') {
          greySquare('{{source}}');
          greySquare('{{target}}');
        }
        % end
    },
    orientation: "{{'white' if board.turn else 'black'}}",
};
var board = ChessBoard('board', cfg); 
</script>
    </body>
</html>

