% def content():
<h3>Start a Game</h3>
<form class="form-horizontal" role="form" method="post" action="/start">
<div class="form-group">
    <label for="email" class="col-sm-2 control-label">White</label>
    <input type="email" class="form-control" name="white" placeholder="example@domain.com" value="">
</div><div class="form-group">
    <label for="email" class="col-sm-2 control-label">Black</label>
    <input type="email" class="form-control" name="black" placeholder="example@domain.com" value="">
</div>
<div class="form-group">
    <input id="submit" name="submit" type="submit" value="Start a chess game!" class="btn btn-primary">
</div>
</form>

<br/>

<h3>View Dashboard</h3>
<form class="form-horizontal" role="form" method="post" action="/dashboard">
<div class="form-group">
    <input type="email" class="form-control" name="email" placeholder="example@domain.com" value="">
</div>
<div class="form-group">
    <input id="submit" name="submit" type="submit" value="View active games dashboard" class="btn btn-primary">
</div>
</form>

<br/>
<br/>

<h3>Recent Games</h3>
<div class="table-responsive">
<table border="0" cellspacing="20" cellpadding="5" style="width: 100%; text-align:left" class="table table-striped table-bordered">
    <tr><th>White</th><th>Black</th><th>Result</th><th>Game</th></tr>
    % import chess
    % import urllib
    % for game in recent_games:
    % board = chess.Board()
    % board.set_epd(game.epd)
    <tr>
        <td><a href="/dashboard/{{urllib.quote(game.white)}}">{{game.white}}</a></td>
        <td><a href="/dashboard/{{urllib.quote(game.black)}}">{{game.black}}</a></td>
        <td>{{board.result()}}</td>
        <td><a href="/game/{{str(game.id)}}">{{game.id}}</a></td>
    </tr>
    % end
</table>
</div>
% end

% def scripts():

% end

%rebase base.html content=content, scripts=scripts
